<html>
    <head>
       <title>{{title}}</title>
    </head>
    <body>
    <font color=red>{{message}}</font><br>
    <form name="host" action="/host" method="post">
    <table>
    <tr>
    <td>
    Hostname
    </td>
    <td>
    <input type="text" name="host" value="{{host}}">.
    <select name="domain" onchange="">
    <option>{{domain}}</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    Profile
    </td>
    <td>
    <select name="profile">
    <option></option>
    <option {{#if profile}}selected{{/if}}>{{profile}}</option>
    </select>
    </td>
    </tr>
    <tr>
    <td>
    IP
    </td>
    <td>
    <input type="text" name="ip" value="{{ip}}">
    </td>
    </tr>
    <tr>
    <td>
    MAC
    </td>
    <td>
    <input type="text" name="macaddress" value="{{macaddress}}">
    </td>
    </tr>
    <tr>
    <td>
    Active
    </td>
    <td>
    <input type="checkbox" name="active" {{#if active}}checked{{/if}}>
    </td>
    </tr>
    <tr>
    <td colspan=2>
    <input type="submit" value="Submit">
    </td>
    </tr>
    </table>
    </form>
    </body>
</html>
